form{
  margin: 0 auto;
  padding: 4px;
  font-size: 15px;
  label{
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 0;
    text-align: right;
    width: 15em;
    &.collection_check_boxes{
      display: inline-block;
      float: none;
      width: 5em !important;
    }
  }
  input, textarea{
    font-size: 15px;
    margin-left: 0px;
    padding-right: 20px;
    width: 180px;
  }
  input.check_boxes{
    width: 20px !important;
  }
  input[type=submit]{
    background: black;
    border: 0;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    padding-right: 0;
    width: 120px;
    &:hover{
      color: #eeeeee;
      cursor: pointer;
    }
  }
}
