/* ======================================================= */
/*                         Login                           */
/* ======================================================= */
#login{
  background: white;
  border: 2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  margin-top: 120px;
  .tip{
    margin-top: 18px;
    color: #666;
    font-size: 20px;
    margin-bottom: 5px;
  }
  #logo{
    font-size: 35px;
    img{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  #form{
    input[type=submit]{
      margin-top: 15px;
    }
  }
  #providers{
    .provider{
      display: inline;
    }
  }
}

/* ======================================================= */
/*                        Content                          */
/* ======================================================= */
#content{
  background: white;
  border: 2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 20px 18px;
  margin-bottom: 30px;
}

/* ======================================================= */
/*                        Header                           */
/* ======================================================= */
#header{
  background: white;
  border: 2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  margin: 30px 0;
  padding: 8px 18px;
  position: relative;
  #logo{
    display: inline;
    font-size: 35px;
    padding-left: 55px;
    img{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  #links{
    display: inline;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding-right: 65px;
    position: absolute;
    top: 10px;
    right: 10px;
    p{
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: right;
    }
    ul{
      float: right;
      display: inline;
      li{
        display: inline;
      }
    }
    img{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/* ======================================================= */
/*                       Fact list                         */
/* ======================================================= */
#fact-list{
  .fact{
    position: relative;
    margin-bottom: 30px;
    img{
      position: absolute;
    }
    .comments-link{
      color: #eee;
      &:hover{
        color: white;
      }
    }
    .comments-wrapper{
      background-image: url('../images/comments_50.png');
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: 60px;
      height: 60px;
      width: 50px;
      .comments{
        font-size: 20px;
        margin-top: 3px;
        text-align: center;
      }
    }
    .rest{
      padding-left: 60px;
      .metadata{
        float: right;
        font-weight: bold;
      }
      .text{
        text-align: justify;
      }
    }
  }
}

/* ======================================================= */
/*                       Fact show                         */
/* ======================================================= */
#fact-show{
  position: relative;
  #gravatar{
    position: absolute;
  }
  #comments-wrapper{
    background-image: url('../images/comments_50.png');
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 55px;
    height: 60px;
    width: 50px;
    #comments{
      color: #eee;
      font-size: 20px;
      margin-top: 3px;
      text-align: center;
    }
  }
  #links{
    float: right;
    font-size: 14px;
    font-weight: bold;
    form{
      display: inline;
      padding: 0;
      input{
        display: inline;
      }
    }
  }
  #head{
    padding-left: 120px;
    font-weight: bold;
    #metadata{
      margin-top: -10px;
    }
  }
  #text{
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
  }
  #tags{
    margin-bottom: 30px;
    .tag{
      background: black;
      display: inline;
      padding: 6px 10px;
      a{
        color: #eee;
        font-size: 15px;
        &:hover{
          color: white;
        }
      }
    }
  }
  #comments{
    #comment-list{
      .comment{
        display: block;
        margin-bottom: 20px;
        position: relative;
        .gravatar{
          position: absolute;
        }
        .delete{
          float: right;
        }
        .metadata{
          font-weight: bold;
          padding-left: 60px;
          .sent{
            margin-top: -10px;
          }
        }
        .text{
          font-size: 14px;
          margin-top: 25px;
          text-align: justify;
        }
      }
    }
    #newcomment{
      position: relative;
      #gravatar{
        position: absolute;
        top: 5px;
      }
      form{
        margin-bottom: 25px;
        padding-left: 60px;
        textarea{
          display: block;
          height: 120px;
          width: 97%;
        }
        input[type=submit]{
          float: right;
          margin-top: 10px;
        }
      }
    }
  }
}
