/* line 4, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 22, ../../app/stylesheets/backoffice_partials/_base.scss */
::selection {
  background: #e2001a;
  color: #FFF;
}

/* line 23, ../../app/stylesheets/backoffice_partials/_base.scss */
::-moz-selection {
  background: #e2001a;
  color: #FFF;
}

/* line 25, ../../app/stylesheets/backoffice_partials/_base.scss */
.best_in_place {
  width: 20em;
  padding: 1em;
}
/* line 28, ../../app/stylesheets/backoffice_partials/_base.scss */
.best_in_place:hover {
  width: 20em;
  background-color: #FFF;
  cursor: pointer;
  border: 1px solid #DDD;
}
/* line 34, ../../app/stylesheets/backoffice_partials/_base.scss */
.best_in_place input {
  background-color: transparent;
  border: none;
  padding: .3em;
  font-size: 1em;
}

/* ======================================================= */
/*                       Base Style                        */
/* ======================================================= */
/* Basic typography
---------------------------------------------------------- */
/* line 47, ../../app/stylesheets/backoffice_partials/_base.scss */
body {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #333;
}

/* line 89, ../../app/stylesheets/backoffice_partials/_base.scss */
ul {
  margin-left: 1em;
}

/* line 93, ../../app/stylesheets/backoffice_partials/_base.scss */
button, .button {
  padding: .4em;
  margin: .2em .2em;
  border: 1px solid #DDD;
  background: #EEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 99, ../../app/stylesheets/backoffice_partials/_base.scss */
button:hover, .button:hover {
  background: #FFF;
}

/* line 104, ../../app/stylesheets/backoffice_partials/_base.scss */
.center {
  text-align: center;
}

/* line 108, ../../app/stylesheets/backoffice_partials/_base.scss */
.right {
  float: right;
}

/* line 112, ../../app/stylesheets/backoffice_partials/_base.scss */
.alignright {
  text-align: right;
}

/* line 116, ../../app/stylesheets/backoffice_partials/_base.scss */
.left {
  float: left;
}

/* line 120, ../../app/stylesheets/backoffice_partials/_base.scss */
.alignleft {
  text-align: left;
}

/* line 124, ../../app/stylesheets/backoffice_partials/_base.scss */
h1 {
  font-size: 2em;
  margin-bottom: .8em;
  border-bottom: 1px solid #DDD;
  padding-bottom: .3em;
}

/* line 131, ../../app/stylesheets/backoffice_partials/_base.scss */
h2 {
  font-size: 1.6em;
  margin: .5em 0;
}

/* line 136, ../../app/stylesheets/backoffice_partials/_base.scss */
h3 {
  font-size: 1.3em;
}

/* line 140, ../../app/stylesheets/backoffice_partials/_base.scss */
a {
  color: #222;
  text-decoration: none;
}
/* line 143, ../../app/stylesheets/backoffice_partials/_base.scss */
a:hover {
  color: #666;
}

/* line 148, ../../app/stylesheets/backoffice_partials/_base.scss */
input[type=submit] {
  border: 1px solid #AAA;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #DDD;
}
/* line 152, ../../app/stylesheets/backoffice_partials/_base.scss */
input[type=submit]:focus {
  border: 1px solid #666;
}
/* line 155, ../../app/stylesheets/backoffice_partials/_base.scss */
input[type=submit]:hover {
  background-color: #FFF;
  cursor: pointer;
}

/* line 161, ../../app/stylesheets/backoffice_partials/_base.scss */
.clearboth {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

/* line 171, ../../app/stylesheets/backoffice_partials/_base.scss */
.separator {
  height: 2em;
}

/* Pagination with Will Paginate */
/* line 178, ../../app/stylesheets/backoffice_partials/_base.scss */
.pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 0.5em;
  position: relative;
  height: 18px;
}

/* line 187, ../../app/stylesheets/backoffice_partials/_base.scss */
.pagination a, .pagination span {
  padding: .2em .3em;
}

/* line 191, ../../app/stylesheets/backoffice_partials/_base.scss */
.pagination span.disabled {
  color: #AAA;
}

/* line 195, ../../app/stylesheets/backoffice_partials/_base.scss */
.pagination em {
  font-weight: bold;
  background: #C9C9C9;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 202, ../../app/stylesheets/backoffice_partials/_base.scss */
.pagination a {
  text-decoration: none;
  color: black;
}

/* line 207, ../../app/stylesheets/backoffice_partials/_base.scss */
.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}

/* line 211, ../../app/stylesheets/backoffice_partials/_base.scss */
table, tr, td {
  vertical-align: middle;
}

/* line 215, ../../app/stylesheets/backoffice_partials/_base.scss */
td.money {
  min-width: 6em;
}

/* line 219, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form {
  width: 80%;
  background-color: #EEE;
  border: 1px solid #DDD;
  margin: 1px auto;
  padding: 1em;
}
/* line 225, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form label {
  font-size: 1.2em;
  margin-top: 1em;
}
/* line 229, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form input, .standard-form textarea, .standard-form select {
  font-size: 1.2em;
  padding: .5em;
  border: 1px solid #CCC;
  width: 95%;
  margin: 1.2em 5% 1.2em .2em;
}
/* line 235, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form input:focus, .standard-form textarea:focus, .standard-form select:focus {
  border: 1px solid #777;
}
/* line 239, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form .button {
  width: 10em;
  margin: 1em auto;
}
/* line 243, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form fieldset {
  border: 1px solid #AAA;
  margin: 1em 0;
  padding: 1.5em;
}
/* line 248, ../../app/stylesheets/backoffice_partials/_base.scss */
.standard-form legend {
  background-color: #FFF;
  padding: .5em;
}

/* line 254, ../../app/stylesheets/backoffice_partials/_base.scss */
.boxed {
  border: 1px solid #DDD;
  background-color: #EEE;
  font-size: 1.2em;
  line-height: 2em;
}

/* line 1, ../../app/stylesheets/backoffice_partials/_page.scss */
#header {
  padding-bottom: .5em;
  border-bottom: 3px solid #EEE;
}
/* line 4, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader {
  height: 1.5em;
  background-color: #111;
  color: #DDD;
  padding-bottom: 5px;
  padding-left: 3em;
  margin: 0px auto;
  margin-bottom: 20px;
  padding-top: 3px;
}
/* line 13, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader a {
  color: #999;
}
/* line 14, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader a:hover {
  color: white;
}
/* line 15, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader .current {
  text-decoration: underline;
}
/* line 17, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader html[xmlns] #language_header {
  display: block;
}
/* line 21, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader * html #language_header {
  height: 1%;
}
/* line 25, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header {
  position: absolute;
  margin-top: -8px;
  /* dropdown */
  /* level 2 list */
  /* clearfix */
  display: inline-block;
}
/* line 28, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header .current {
  text-decoration: none;
}
/* line 32, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header li {
  margin: 0 5px;
  float: left;
  list-style: none;
  text-decoration: none;
}
/* line 39, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header a {
  display: block;
  padding: 8px 20px;
  margin: 0;
}
/* line 46, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header li:hover > ul {
  display: block;
  cursor: pointer;
}
/* line 52, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header ul {
  display: none;
  z-index: 999;
  margin: 0;
  padding: 0;
  width: 130px;
  position: absolute;
  top: 30px;
  left: 0;
  background: #111;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 66, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #preheader #language_header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 79, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #center-preheader {
  position: absolute;
  top: .4em;
  left: 44%;
}
/* line 85, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #right-preheader {
  float: right;
  width: 180px;
  padding-left: 1em;
}
/* line 91, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #menu {
  text-align: center;
}
/* line 94, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #menu ul li {
  display: inline;
}
/* line 96, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #menu ul li a {
  color: #222;
  font-size: 1.2em;
  background-color: #EEE;
  padding: .3em .8em;
  border: 1px solid #CCC;
}
/* line 102, ../../app/stylesheets/backoffice_partials/_page.scss */
#header #menu ul li a:hover {
  color: #FFF;
  background-color: #666;
}

/* line 112, ../../app/stylesheets/backoffice_partials/_page.scss */
#main {
  padding: 0 1em;
}
/* line 114, ../../app/stylesheets/backoffice_partials/_page.scss */
#main .content {
  margin-left: 1em;
  overflow: hidden;
}
/* line 118, ../../app/stylesheets/backoffice_partials/_page.scss */
#main h1 {
  font-size: 1.8em;
  margin-top: 1em;
}
/* line 122, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table {
  width: 99%;
  border: 1px solid #BBB;
}
/* line 125, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr {
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
}
/* line 128, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr.header {
  background-color: #999;
  color: #FFF;
}
/* line 131, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr.header th {
  color: #FFF;
}
/* line 134, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr.header a {
  color: #FFF;
  text-decoration: underline;
}
/* line 138, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr.header:hover {
  background-color: #999;
}
/* line 142, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr td.money {
  text-align: right;
  padding-right: .5em;
}
/* line 147, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr.unread td {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
}
/* line 154, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr:hover td {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: #fff;
}
/* line 160, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table tr:first-child, #main table tr:last-child {
  border-bottom: 1px solid #CCC;
}
/* line 164, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table td, #main table th {
  color: #333;
  text-align: center;
  padding: .3em 1em;
}
/* line 168, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table td:last-child, #main table th:last-child {
  text-align: center;
}
/* line 170, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table td:last-child input, #main table th:last-child input {
  min-width: 12em;
}
/* line 174, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table td a, #main table th a {
  color: #333;
  border-bottom: 1px dashed #999;
}
/* line 180, ../../app/stylesheets/backoffice_partials/_page.scss */
#main table.info td {
  width: 49%;
}
/* line 185, ../../app/stylesheets/backoffice_partials/_page.scss */
#main th {
  font-size: 1.2em;
}

/* line 190, ../../app/stylesheets/backoffice_partials/_page.scss */
a.gray {
  color: #FFF;
}

/* line 199, ../../app/stylesheets/backoffice_partials/_page.scss */
#event-show .pagination {
  width: 98%;
}
/* line 201, ../../app/stylesheets/backoffice_partials/_page.scss */
#event-show .pagination span.current {
  font-weight: bold;
}

/* Purr Flash Notices and Errors */
/* line 3, ../../app/stylesheets/partials/_purr.scss */
.flash, #error_explanation {
  display: none;
}

/* line 7, ../../app/stylesheets/partials/_purr.scss */
.purr {
  text-align: center;
  position: fixed;
  width: 14em;
  top: 20em;
  right: 40%;
  padding: 3em;
  background-color: #111;
  color: #DDD;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 1px #666;
  -webkit-box-shadow: 1px #666;
  box-shadow: 1px #666;
  filter: alpha(opacity=90);
  opacity: 0.9;
  -moz-opacity: 0.9;
}

/* line 25, ../../app/stylesheets/partials/_purr.scss */
.purr:hover .close {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("/images/close-button.gif") no-repeat;
}
