body
{
	background-color: #cfcfcf;
	font-family: "Myriad Pro", "Trebuchet MS", Helvetica;
	font-size: 0.8em;
}

.container{
	padding: 2em;
}

.center {
	text-align:center;
}

p{
	color: #333333;
}

h1.greet{
	margin-top: 20px;
	font-size: 25px;
	font-weight: normal;
}

#header{
	background-image: url("../images/back_hello_line.jpg");
	color: #cccccc;
	height: 56px;
	padding-bottom: 20px;
}

#logo *|*:visited {
	color: #cfcfcf;
}

#menu_superior{
	padding: 5px;
}

#menu_superior ul{
	padding-top: 13px;
}

#menu_superior li{
	display: inline;
	padding-right: 0.5em;
}
	
#menu_superior a{
	color: #666666;
	text-decoration: none;
	padding: 20px;
}

#menu_superior a:hover{
	background-color: #000000;
	color: #dddddd;
}

.crm_message{
	border: #b0b0b0 solid 1px;
	color: #333333;
	font-family: "Arial","Helvetica",sans-serif;
	font-size: 12px;
	width: 95%;
	height: 150px;
	padding: 10px;
	margin: 5px;

}

#contentbox{
	background-color: #f1f1f1;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
  border:5px solid black;
}

h2.welcome{
	color: #333333;
	border-bottom: #acacac 1px solid;
	padding-bottom: 3px;
	margin-bottom: 30px;
}

ul.projects{
	list-style: none;
	margin-bottom: 30px;
}

ul.projects a{
	color: #333333;
	text-decoration: none;
}

ul.projects a:hover{
	color: #000000;
}

ul.projects a.paid_color {
	color: green;
}

ul.projects a.unpaid_color {
	color: red;
}

ul.projects a:hover.paid_color {color: green;}

.odd{
	background-color: #dddddd;
	padding: 5px 0 5px 10px;	
}

.even{
	background-color: #ffffff;
	padding: 5px 0 5px 10px;	
}

/* ----------- PROJECTS ---------- */

#content{
	background-color: #ffffff;
	border: #cccccc solid 1px;
	padding: 20px 20px 0px 20px;
}

#project_name{
	background-color: #666666;
	border: #444444 solid 1px;
	color: #cccccc;
	height: 130px;
	padding: 20px;
	margin-bottom: 30px;
	
}

#project_name h1{
	color: #acacac;
	border-bottom: #acacac 1px solid;
	font-size: 15px;
}

#project_name h2{
	text-align: center;
	color: #dddddd;
	margin-top: 30px;
}

#project_name a{
	color: #ffffff;
	text-decoration: none;
}

#project_name a:hover{
	color: #cccccc;
}

div.group{
	color: #000000;
	padding: 5px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
}

div.group a{
	color: #666666;
	margin-left: 2px;
	text-decoration: none;
}

div.group a:hover{
	color: #000000;
}

form#new_message{
	background-color: #cfcfcf;
	margin-bottom: 60px;
}

.sub_menu{
	background-color: #666666;
	color: #333333;
	height: 25px;
	margin-top: 30px;
	margin-left: 10px;
}
	
.sub_menu a{
	color: #dddddd;
	text-decoration: none;
}

.sub_menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.sub_menu ul{
	margin-top: 5px;
}

.sub_menu li{
	display: inline;
	padding-right: 2.5em;
}

.sub_menu_task{
	background-color: #666666;
	height: 20px;
	padding-top: 5px;
	margin-top: 60px;
	margin-left: 10px;
}

.sub_menu_task a{
	color: #dddddd;
	text-decoration: none;
}

.sub_menu_task a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.info_group{
	margin-bottom: 20px;
}

.info_group a{
	color: #333333;
	text-decoration: none;
	padding: 3px;
}

.info_group a:hover{
	background-color:#c1c1c1;
	color:#ffffff;
}

/* ----------- MESSAGE ---------- */

.message_gravatar{
	float: left;
	margin-right: 10px;
}

#message.odd p{
	margin-top: 20px;
}

h3.message_title{
	background-color: #cfcfcf;
	color: #333333;
	margin-top: 0;
	padding-left: 10px;
	padding-top: 2px;
}

.new_message_link{
	margin-top: 2px;
	margin-right: 10px;
}

.new_message_link a{
	color: #333333;
}

.new_message_link *|*:visited{
	color: #000000;
}

.back_btn{
	font-size: 15px;
	padding-top: 5px;
}

#loading
{
	margin-left: 50%;
	margin-right: 50%;
	margin-bottom: 40px;
}

#comment_content{
	padding: 5px;
	margin-bottom: 10px;
}

#comments a{
	color: #333333;
	text-decoration: none;
}

.comment-body{
	margin-top: 5px;
}

.btn_comment{
	margin-bottom: 30px;
}

/* Pagination with will_paginate */

.pagination
{
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 0.5em;
position: relative;
margin-top: 145px;
height: 18px;
}
.pagination a, .pagination span
{
	padding: .2em .3em;
}
.pagination span.disabled
{
	color: #AAA;
}
.pagination em
{
	font-weight: bold;
	background: #C9C9C9;
	padding: 3px;
	-moz-border-radius:8px;
  -khtml-border-radius:8px;
  -webkit-border-radius: 8px;
}
.pagination a
{
	text-decoration: none;
    color: black;
}
.pagination a:hover, .pagination a:focus
{
	text-decoration: underline;
}

.event{
	height: 60px;
}

/* ----------- TASKS ---------- */

#task.odd{
	background-color: #cfcfcf;
	padding: 10px;
}

#message.odd{
	border: #b0b0b0 solid 1px;
	background-color: #cfcfcf;
	padding: 10px;
}

.sub_title_task{
	color: #333333;
}
.comment
{
  display: block;
  background: #E5EEED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.comments_count
{
	margin-left: 3px;
	padding: 2px 1px 7px 8px;
	width: 25px;
	height: 15px;
	background: url('/images/comments-cloud.png') no-repeat;
	color: #666;
	font-size: 11px;
	float:right;
}	

.comments_count a
{
	text-decoration:none;
}

.gravatar_comentaris
{
  float:right;
  opacity: 0.6;
  padding: 0 0 5px 15px;
}

#btn_addcomment{
	float: right;
	color: #ff0000;
}

input#comment_submit{
	background-color: #000000;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	margin-right: 15px;
}


input#message_submit{
	background-color: #000000;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	margin-top: 10px;
}

.date_feed
{
	color: gray;
}

.event_type
{
	padding: 2px;
}

.comments_cloud
{
	background-image:url('../images/comment_background.png');
	width: 40px;
	height: 25px;
	text-align: center;
	color: gray;
	padding-top: 6px;
}

/* Formulario edita perfil*/

.content h3{
	color: #333333;
	border-bottom: #acacac 1px solid;
}

.info_form{
	background-color:#f1f1f1;
	color: #333333;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 0;
	padding-top: 5px;
	margin-bottom: 20px;
}

.info_form input{
	border: solid 1px #b0b0b0;
	color: #333333;
}

input#client_user_submit{
	background-color: #666666;
	border: none;
	color: #dddddd;
	font-size: 12px;
	padding-right: 0;
}

/* links*/
a.moz-txt-link-freetext *|*:visited{
	color: #666666;
}

a.moz-txt-link-freetext *|*:visited{
	color: #666666;
}

.project_type {
	background-color: #444;
	color: #EEE;
	padding: 3px;
	margin-right: 10px;
}

.invoice_info {
	font-weight: bold;
	float: right;
	padding-right: 20px;
}

table
{
	margin-bottom:15px;
	width:100%;
}

table td 
{
  background:#F0F0F0 none repeat scroll 0 0;

  color: black;

	padding:3px;
	vertical-align:top;
	padding: 10px 0 5px 10px;
	text-align:right;
	padding-right:5px;
}

table th 
{
  background-color: #444;
  color: #EEE;
  font-weight: normal;
	padding:5px;
	text-align:center;
}

.description_field {
	background-color: #DDD;
	width: 20%;
}

.rest_in_place {padding: 0.3em;}
.rest_in_place:hover {
	background-color: #FFF;
	padding: 0.3em;
}
.value_field input {
	width: 90%;
	margin: 0;
	padding: 2px;
}

/* Missatges Flotants */

.not-sticky {
	position: fixed;
	width: 30em;
	top: 18em;
	right: 40%;
	padding: 3em;
	background-color: #111;
  color: #CCC;
	border-radius: 10px;
	-moz-border-radius: 10px;
  -moz-box-shadow: 1px #666;
  -webkit-box-shadow: 1px #666;
  box-shadow: 1px #666;
  filter:alpha(opacity=90);
  opacity: 0.9;
  -moz-opacity:0.9;
}
.not-sticky:hover .close	{
	position: absolute;
	top: 5px;
	right: 3px;
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background: url("/images/close-button.gif") no-repeat;
}

.payment_button {
  background-color: #222;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
}

.payment_button:hover {
  background-color: #555;
}

.alert_box {
  background-color: #DDD;
  padding:10px;
  border:1px solid #888;
  text-align:justify;
}

/* Facebox */
#facebox .b {
  background:url("/images/b.png");
}

#facebox .tl {
  background:url("/images/tl.png");
}

#facebox .tr {
  background:url("/images/tr.png");
}

#facebox .bl {
  background:url("/images/bl.png");
}

#facebox .br {
  background:url("/images/br.png");
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .content {
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
