.gravatar{
  float: left;
  padding: 0 15px 0 0;
}

.fact-metadata{
  float: right;
  padding-right: 15px;
  text-align: right;
}

#posting_area{
  height: 45px;
  width: 800px;
}

#post_button{
  float: right;
}
