/* General */
#notice{
  background-color: #00CC00;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#alert{
  background-color: #FFCC00;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#error_explanation{
  color: #880000;
}

.delete{
  color: #880000;
}

h1#fact-title{
  margin: 5px;
}

.button{
  background-color: #000000;
  border: none;
  color: #dddddd;
  width: 125px;
  height: 25px;
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.button:hover{
  color: #ffffff;
	background-color: #444444;
}

.show_tag{
  padding: 10px;
  color: #FFFFFF;
  background-color: #000000;
}

/* Facts */
#fact-show{
  margin: 0px auto;
  padding: 0px;
  border:0;
  width: 900px;
}

#fact-header{
  background: #CCC;
  padding: 15px;
}

#fact-gravatar{
  float: left;
  width: 50px;
  padding-top: 5px;
  padding-right: 30px;
}

#fact-name{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

#fact-actions{
  float: right;
}

#fact_title{
  height: 2em;
  width: 835px;
}

#fact-date{
  font-size: 16px;
}

#fact-text{
  font-size: 16px;
  text-align: justify;
}

#description_area{
  height: 350px;
  width: 835px;
}

/* Comments */
.comment-show{
  margin: 0px auto;
  padding: 15px;
  border:0;
  width: 830px;
}

.comment-gravatar{
  float: left;
  width: 50px;
  padding-right: 30px;
}

.comment-name{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.comment-actions{
  float: right;
}

.comment-date{
  font-size: 14px;
  font-weight: bold;
}

.comment-text{
  font-size: 18px;
}

#comments a.button{
  color: #DDD;
}

/* New comment */

#newcomment-gravatar{
  float: left;
  width: 50px;
  padding-right: 10px;
}

#newcomment-area{
  height: 45px;
  width: 832px;
}

#newcomment-button{
  float: right;
}

/* Tags */
.tags a {
  padding: .3em;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #DDD;
  color: #555;
}

.tags a:hover {
  background-color: #222;
  color: #FFF;
}

#contentbox #tags-label {
  margin-bottom: .5em;
}

#contentbox #tag-cloud {
  width: 70%;
  border: 1px dashed #CCC;
  min-height: 2em;
  padding: .5em .6em;
  font-size: .8em;
}

#contentbox #tag-cloud .tag {
  padding: 1em;
  padding-left: 2em;
  width: 90%;
  margin-bottom: .2em;
  background-color: #EEE;
  border: 1px solid #EEE;
  cursor: hand;
  cursor: pointer;
}

#contentbox #tag-cloud .tag .delete-tag {
  float: right;
}

#contentbox #tag-cloud .tag:hover {
  background-color: #DDD;
  border: 1px solid #BBB;
}

#contentbox #tag-cloud .tag.clicked {
  border: 1px solid #444;
  background-color: #888;
  color: #FFF;
}

/* Login */
{
	background-color: #cfcfcf;
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	color: #555555;
}

#content {
	margin: 0 auto;
	width:400px;
}

a {
	color: #222222;
	text-decoration: none;
}

a:hover.homelink {
	color: #ffffff;
	background-color: #444444;
	padding: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#loginbox  {
	border: #999999 solid 2px;
	background-color:#f1f1f1;
	margin-top:20px;
	padding-top:10px;
  text-align: center;
}


#logo{
	margin-top: 50px;
	text-align: center;
}

.center {
	text-align: center;
}

.info_form{
	color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}

.info_form_error{
	color: #666666;
	margin-bottom: 10px;
	font-size: 14px;
}

#errorExplanation {
	background-color:#f1f1f1;
}

input.loginput   {
	font-family: Verdana;
	color: #333333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 30px;
	width: 275px;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	color: #444;
}


input#user_session_submit{
	background-color: #000000;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}

input#user_session_submit:hover{
	background-color: #555555;
}

input#user_session_remember_me{
	margin-top: 3px;
}

label {
	font-weight: normal;
}

input.button {
	background-color: #000000;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	margin-top: 10px;
}

input.button:hover {
  border: 1px solid #666;
	background-color: #555;
	cursor: pointer;
}
