{
	background-color: #cfcfcf;
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	color: #555555;
}

#content {
	margin: 0 auto;
	width:400px;
}

a {
	color: #222222;
	text-decoration: none;
}

a:hover.homelink {
	color: #ffffff;
	background-color: #444444;
	padding: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#loginbox  {
	border: #999999 solid 2px;
	background-color:#f1f1f1;
	margin-top:20px;
	padding-top:10px;
	height: 300px;
  text-align: center;
}


#logo{
	margin-top: 50px;
	text-align: center;
}

.center {
	text-align: center;
}

.info_form{
	color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}

.info_form_error{
	color: #666666;
	margin-bottom: 10px;
	font-size: 14px;
}

#errorExplanation {
	background-color:#f1f1f1;
}

input.loginput   {
	font-family: Verdana;
	color: #333333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 30px;
	width: 275px;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	color: #444;
}


input#user_session_submit{
	background-color: #000000;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}

input#user_session_submit:hover{
	background-color: #555555;
}

input#user_session_remember_me{
	margin-top: 3px;
}

label {
	font-weight: normal;
}

input.button {
	background-color: #000000;
	border: none;
	color: #dddddd;
	width: 125px;
	height: 25px;
	margin-top: 10px;
}

input.button:hover {
  border: 1px solid #666;
	background-color: #555;
	cursor: pointer;
}

