/* line 4, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 2, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container #login {
  width: 470px;
}
/* line 7, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container #header {
  width: 910px;
}
/* line 9, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container #header #logo {
  width: 390px;
}
/* line 12, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container #header #links {
  width: 470px;
}
/* line 16, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container #content {
  width: 910px;
}

/* ======================================================= */
/*                       Base Style                        */
/* ======================================================= */
/* Basic typography
---------------------------------------------------------- */
/* line 28, ../../app/stylesheets/partials/_base.scss */
body {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
  color: #333;
  background: #eeeeee;
}

/* line 34, ../../app/stylesheets/partials/_base.scss */
strong, th, thead td {
  font-weight: bold;
}

/* line 37, ../../app/stylesheets/partials/_base.scss */
cite, em, dfn {
  font-style: italic;
}

/* line 40, ../../app/stylesheets/partials/_base.scss */
code, kbd, samp, pre, tt, var {
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

/* line 43, ../../app/stylesheets/partials/_base.scss */
code, pre {
  display: block;
  white-space: pre;
}

/* line 47, ../../app/stylesheets/partials/_base.scss */
del {
  text-decoration: line-through;
  color: #666;
}

/* line 51, ../../app/stylesheets/partials/_base.scss */
ins, dfn {
  border-bottom: 1px solid #ccc;
}

/* line 54, ../../app/stylesheets/partials/_base.scss */
small, sup, sub {
  font-size: 85%;
}

/* line 57, ../../app/stylesheets/partials/_base.scss */
abbr, acronym {
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* line 61, ../../app/stylesheets/partials/_base.scss */
a abbr, a acronym {
  border: none;
}

/* line 64, ../../app/stylesheets/partials/_base.scss */
abbr[title], acronym[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted #ccc;
}

/* line 68, ../../app/stylesheets/partials/_base.scss */
sup {
  vertical-align: super;
}

/* line 71, ../../app/stylesheets/partials/_base.scss */
sub {
  vertical-align: sub;
}

/* line 74, ../../app/stylesheets/partials/_base.scss */
p, ul, ol, dl, table, fieldset, blockquote, pre, code {
  margin-bottom: 20px;
}

/* Basic size
---------------------------------------------------------- */
/* line 80, ../../app/stylesheets/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6em;
  font-weight: normal;
  line-height: 1em;
}

/* line 85, ../../app/stylesheets/partials/_base.scss */
h1 {
  font-size: 36px;
}

/* line 88, ../../app/stylesheets/partials/_base.scss */
h2 {
  font-size: 30px;
}

/* line 91, ../../app/stylesheets/partials/_base.scss */
h3 {
  font-size: 24px;
}

/* line 94, ../../app/stylesheets/partials/_base.scss */
h4 {
  font-size: 18px;
}

/* line 97, ../../app/stylesheets/partials/_base.scss */
h5 {
  font-size: 14px;
}

/* line 100, ../../app/stylesheets/partials/_base.scss */
h6 {
  font-size: 12px;
}

/* line 103, ../../app/stylesheets/partials/_base.scss */
h1 .subTitle, h2 .subTitle, h3 .subTitle, h4 .subTitle, h5 .subTitle, h6 .subTitle {
  display: block;
  color: #999;
  font-size: 0.65em;
  margin: 0;
}

/* Basic lists
---------------------------------------------------------- */
/* line 111, ../../app/stylesheets/partials/_base.scss */
ul {
  margin-left: 1.5em;
  list-style-type: disc;
}

/* line 115, ../../app/stylesheets/partials/_base.scss */
ul li {
  margin-left: .85em;
}

/* line 118, ../../app/stylesheets/partials/_base.scss */
ul ul {
  list-style-type: square;
}

/* line 121, ../../app/stylesheets/partials/_base.scss */
ul ul ul {
  list-style-type: circle;
}

/* line 124, ../../app/stylesheets/partials/_base.scss */
ol {
  margin-left: 2.35em;
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 129, ../../app/stylesheets/partials/_base.scss */
dt {
  margin-top: .8em;
  margin-bottom: .4em;
  font-weight: bold;
}

/* line 134, ../../app/stylesheets/partials/_base.scss */
ol ol, ul ol {
  margin-left: 2.5em;
}

/* line 137, ../../app/stylesheets/partials/_base.scss */
ul ol, ol ul, ol ol, ul ul {
  margin-bottom: 0;
}

/* Link style
---------------------------------------------------------- */
/* line 142, ../../app/stylesheets/partials/_base.scss */
a:link, a:visited, a:hover, a:active, a:focus {
  color: #666;
  outline: 0 none;
  text-decoration: none;
}

/* line 148, ../../app/stylesheets/partials/_base.scss */
a:hover {
  color: #000;
}

/* Background Colors
---------------------------------------------------------- */
/* line 155, ../../app/stylesheets/partials/_base.scss */
.green {
  background-color: #CBDB2A;
}

/* line 158, ../../app/stylesheets/partials/_base.scss */
.orange {
  background-color: #ff5c00;
}

/* line 161, ../../app/stylesheets/partials/_base.scss */
.black {
  background-color: #111111;
}

/* line 164, ../../app/stylesheets/partials/_base.scss */
.gray {
  background-color: #666666;
}

/* line 167, ../../app/stylesheets/partials/_base.scss */
.soft-gray {
  background-color: #BBB;
}

/* line 170, ../../app/stylesheets/partials/_base.scss */
.white {
  background-color: #FFFFFF;
}
/* line 172, ../../app/stylesheets/partials/_base.scss */
.white span {
  color: #666666;
}

/* line 176, ../../app/stylesheets/partials/_base.scss */
.red {
  background-color: #e62727;
}

/* line 179, ../../app/stylesheets/partials/_base.scss */
.dark-red {
  background-color: #e2001a;
}
/* line 181, ../../app/stylesheets/partials/_base.scss */
.dark-red span {
  color: #FFF;
}

/* line 185, ../../app/stylesheets/partials/_base.scss */
.orange {
  background-color: #ff5c00;
}

/* line 188, ../../app/stylesheets/partials/_base.scss */
.magenta {
  background-color: #A9014B;
}

/* line 191, ../../app/stylesheets/partials/_base.scss */
.yellow {
  background-color: #ffb515;
}

/* line 194, ../../app/stylesheets/partials/_base.scss */
.blue {
  background-color: #00ADEE;
}

/* line 197, ../../app/stylesheets/partials/_base.scss */
.pink {
  background-color: #e22092;
}

/* line 200, ../../app/stylesheets/partials/_base.scss */
.rosy {
  background-color: #F16C7C;
}

/* Buttons */
/* line 206, ../../app/stylesheets/partials/_base.scss */
.button.dark-gray, .button.dark-gray:hover {
  background-color: #555;
}
/* line 208, ../../app/stylesheets/partials/_base.scss */
.button.dark-gray span, .button.dark-gray a, .button.dark-gray:hover span, .button.dark-gray:hover a {
  color: #FFF;
  border-color: #CCC;
}

/* line 213, ../../app/stylesheets/partials/_base.scss */
.button.gray, .button.gray:hover {
  background-color: #CCC;
}
/* line 215, ../../app/stylesheets/partials/_base.scss */
.button.gray span, .button.gray a, .button.gray:hover span, .button.gray:hover a {
  color: #111;
  border-color: #DDD;
}

/* line 220, ../../app/stylesheets/partials/_base.scss */
.button.red, .button.red:hover {
  background-color: #e2001a;
}
/* line 222, ../../app/stylesheets/partials/_base.scss */
.button.red span, .button.red:hover span {
  color: #FFF;
  border-color: red;
}

/* Non-semantic helper classes
---------------------------------------------------------- */
/* line 230, ../../app/stylesheets/partials/_base.scss */
.center {
  text-align: center;
}

/* line 233, ../../app/stylesheets/partials/_base.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 237, ../../app/stylesheets/partials/_base.scss */
.invisible {
  visibility: hidden;
}

/* line 240, ../../app/stylesheets/partials/_base.scss */
.alignright {
  float: right;
}

/* line 243, ../../app/stylesheets/partials/_base.scss */
.alignleft {
  float: left;
}

/* line 246, ../../app/stylesheets/partials/_base.scss */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

/* line 250, ../../app/stylesheets/partials/_base.scss */
.clearboth {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

/* line 260, ../../app/stylesheets/partials/_base.scss */
.separator {
  height: 15em;
}

/* line 264, ../../app/stylesheets/partials/_base.scss */
.bold {
  font-weight: bold;
}

/* line 269, ../../app/stylesheets/partials/_base.scss */
.underlined a, .underlined {
  text-decoration: underline;
}

/* ======================================================= */
/*                         Login                           */
/* ======================================================= */
/* line 4, ../../app/stylesheets/partials/_page.scss */
#login {
  background: white;
  border: 2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  margin-top: 120px;
}
/* line 14, ../../app/stylesheets/partials/_page.scss */
#login .tip {
  margin-top: 18px;
  color: #666;
  font-size: 20px;
  margin-bottom: 5px;
}
/* line 20, ../../app/stylesheets/partials/_page.scss */
#login #logo {
  font-size: 35px;
}
/* line 22, ../../app/stylesheets/partials/_page.scss */
#login #logo img {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 29, ../../app/stylesheets/partials/_page.scss */
#login #form input[type=submit] {
  margin-top: 15px;
}
/* line 34, ../../app/stylesheets/partials/_page.scss */
#login #providers .provider {
  display: inline;
}

/* ======================================================= */
/*                        Content                          */
/* ======================================================= */
/* line 43, ../../app/stylesheets/partials/_page.scss */
#content {
  background: white;
  border: 2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 20px 18px;
  margin-bottom: 30px;
}

/* ======================================================= */
/*                        Header                           */
/* ======================================================= */
/* line 56, ../../app/stylesheets/partials/_page.scss */
#header {
  background: white;
  border: 2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  margin: 30px 0;
  padding: 8px 18px;
  position: relative;
}
/* line 65, ../../app/stylesheets/partials/_page.scss */
#header #logo {
  display: inline;
  font-size: 35px;
  padding-left: 55px;
}
/* line 69, ../../app/stylesheets/partials/_page.scss */
#header #logo img {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 75, ../../app/stylesheets/partials/_page.scss */
#header #links {
  display: inline;
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding-right: 65px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 84, ../../app/stylesheets/partials/_page.scss */
#header #links p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
/* line 89, ../../app/stylesheets/partials/_page.scss */
#header #links ul {
  float: right;
  display: inline;
}
/* line 92, ../../app/stylesheets/partials/_page.scss */
#header #links ul li {
  display: inline;
}
/* line 96, ../../app/stylesheets/partials/_page.scss */
#header #links img {
  position: absolute;
  top: 0;
  right: 0;
}

/* ======================================================= */
/*                       Fact list                         */
/* ======================================================= */
/* line 108, ../../app/stylesheets/partials/_page.scss */
#fact-list #pagination {
  font-size: 15px;
  padding: 5px;
}
/* line 111, ../../app/stylesheets/partials/_page.scss */
#fact-list #pagination .pagination {
  text-align: center;
}
/* line 113, ../../app/stylesheets/partials/_page.scss */
#fact-list #pagination .pagination a, #fact-list #pagination .pagination em {
  padding: 2px;
}
/* line 116, ../../app/stylesheets/partials/_page.scss */
#fact-list #pagination .pagination em {
  background: #eee;
  border: 2px solid #eee;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: black;
  font-style: normal;
  padding: 2px 6px;
}
/* line 125, ../../app/stylesheets/partials/_page.scss */
#fact-list #pagination .pagination .disabled {
  color: #eee;
}
/* line 130, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact {
  position: relative;
  margin-bottom: 30px;
}
/* line 133, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact img {
  position: absolute;
}
/* line 136, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .comments-link {
  color: #eee;
}
/* line 138, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .comments-link:hover {
  color: white;
}
/* line 142, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .comments-wrapper {
  background-image: url("../images/comments_50.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 60px;
  height: 60px;
  width: 50px;
}
/* line 150, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .comments-wrapper .comments {
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}
/* line 156, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .rest {
  padding-left: 60px;
}
/* line 158, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .rest .metadata {
  float: right;
  font-weight: bold;
}
/* line 162, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .rest .text {
  text-align: justify;
}
/* line 166, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .tags {
  display: inline;
  float: right;
}
/* line 169, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .tags .tag {
  background: #666;
  display: inline;
  padding: 1px 5px;
}
/* line 173, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .tags .tag a {
  color: #eee;
  font-size: 10px;
}
/* line 176, ../../app/stylesheets/partials/_page.scss */
#fact-list .fact .tags .tag a:hover {
  color: white;
}

/* ======================================================= */
/*                       Fact show                         */
/* ======================================================= */
/* line 188, ../../app/stylesheets/partials/_page.scss */
#fact-show {
  position: relative;
}
/* line 190, ../../app/stylesheets/partials/_page.scss */
#fact-show #gravatar {
  position: absolute;
}
/* line 193, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments-wrapper {
  background-image: url("../images/comments_50.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 55px;
  height: 60px;
  width: 50px;
}
/* line 201, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments-wrapper #comments {
  color: #eee;
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}
/* line 208, ../../app/stylesheets/partials/_page.scss */
#fact-show #links {
  float: right;
  font-size: 14px;
  font-weight: bold;
}
/* line 212, ../../app/stylesheets/partials/_page.scss */
#fact-show #links form {
  display: inline;
  padding: 0;
}
/* line 215, ../../app/stylesheets/partials/_page.scss */
#fact-show #links form input {
  display: inline;
}
/* line 220, ../../app/stylesheets/partials/_page.scss */
#fact-show #head {
  padding-left: 120px;
  font-weight: bold;
}
/* line 223, ../../app/stylesheets/partials/_page.scss */
#fact-show #head #metadata {
  margin-top: -10px;
}
/* line 227, ../../app/stylesheets/partials/_page.scss */
#fact-show #text {
  font-size: 14px;
  margin-top: 20px;
  text-align: justify;
}
/* line 232, ../../app/stylesheets/partials/_page.scss */
#fact-show #tags {
  margin-bottom: 30px;
}
/* line 234, ../../app/stylesheets/partials/_page.scss */
#fact-show #tags .tag {
  background: black;
  display: inline;
  padding: 6px 10px;
}
/* line 238, ../../app/stylesheets/partials/_page.scss */
#fact-show #tags .tag a {
  color: #eee;
  font-size: 15px;
}
/* line 241, ../../app/stylesheets/partials/_page.scss */
#fact-show #tags .tag a:hover {
  color: white;
}
/* line 249, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #comment-list .comment {
  display: block;
  margin-bottom: 20px;
  position: relative;
}
/* line 253, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #comment-list .comment .gravatar {
  position: absolute;
}
/* line 256, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #comment-list .comment .delete {
  float: right;
}
/* line 259, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #comment-list .comment .metadata {
  font-weight: bold;
  padding-left: 60px;
}
/* line 262, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #comment-list .comment .metadata .sent {
  margin-top: -10px;
}
/* line 266, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #comment-list .comment .text {
  font-size: 14px;
  margin-top: 25px;
  text-align: justify;
}
/* line 273, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #newcomment {
  position: relative;
}
/* line 275, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #newcomment #gravatar {
  position: absolute;
  top: 5px;
}
/* line 279, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #newcomment form {
  margin-bottom: 25px;
  padding-left: 60px;
}
/* line 282, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #newcomment form textarea {
  display: block;
  height: 120px;
  width: 97%;
}
/* line 287, ../../app/stylesheets/partials/_page.scss */
#fact-show #comments #newcomment form input[type=submit] {
  float: right;
  margin-top: 10px;
}

/* line 1, ../../app/stylesheets/partials/_form.scss */
form {
  margin: 0 auto;
  padding: 4px;
  font-size: 15px;
}
/* line 5, ../../app/stylesheets/partials/_form.scss */
form label {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 0;
  text-align: right;
  width: 15em;
}
/* line 13, ../../app/stylesheets/partials/_form.scss */
form input, form textarea {
  font-size: 15px;
  margin-left: 0px;
  padding-right: 20px;
  width: 180px;
}
/* line 19, ../../app/stylesheets/partials/_form.scss */
form input[type=submit] {
  background: black;
  border: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  padding-right: 0;
  width: 120px;
}
/* line 27, ../../app/stylesheets/partials/_form.scss */
form input[type=submit]:hover {
  color: #eeeeee;
  cursor: pointer;
}

/* Purr Flash Notices and Errors */
/* line 3, ../../app/stylesheets/partials/_purr.scss */
.flash, #error_explanation {
  display: none;
}

/* line 7, ../../app/stylesheets/partials/_purr.scss */
.purr {
  text-align: center;
  position: fixed;
  width: 14em;
  top: 20em;
  right: 40%;
  padding: 3em;
  background-color: #111;
  color: #DDD;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 1px #666;
  -webkit-box-shadow: 1px #666;
  box-shadow: 1px #666;
  filter: alpha(opacity=90);
  opacity: 0.9;
  -moz-opacity: 0.9;
}

/* line 25, ../../app/stylesheets/partials/_purr.scss */
.purr:hover .close {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("/images/close-button.gif") no-repeat;
}
