.tags a {
  padding: .3em;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #DDD;
  color: #555;
}

.tags a:hover {
  background-color: #222;
  color: #FFF;
}

#contentbox #tags-label {
  margin-bottom: .5em;
}

#contentbox #tag-cloud {
  width: 70%;
  border: 1px dashed #CCC;
  min-height: 2em;
  padding: .5em .6em;
  font-size: .8em;
}

#contentbox #tag-cloud .tag {
  padding: 1em;
  padding-left: 2em;
  width: 90%;
  margin-bottom: .2em;
  background-color: #EEE;
  border: 1px solid #EEE;
  cursor: hand;
  cursor: pointer;
}

#contentbox #tag-cloud .tag .delete-tag {
  float: right;
}

#contentbox #tag-cloud .tag:hover {
  background-color: #DDD;
  border: 1px solid #BBB;
}

#contentbox #tag-cloud .tag.clicked {
  border: 1px solid #444;
  background-color: #888;
  color: #FFF;
}

.show_tag{
  padding: 10px;
  color: #FFFFFF;
  background-color: #333333;
}
