.auth_providers
  %a.auth_provider{:href => "/auth/twitter"}
    = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
    Twitter
  .clear
.auth_providers
  %a.auth_provider{:href => "/auth/facebook"}
    = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
    Facebook
  .clear
